public class {{entity_name}} {{entity_parent}}
    {
        {% for field in fields -%}
        {% if field['attr'] != '' -%}
        [{{field['attr']}}]
        {%- endif %}
        public {{field['type']}} {{field['name']}} { get; set; }
        {% endfor %}
    }