builder.Entity<{{entity_name}}>()
                .HasOne(p => p.{{has_foreign}})
                {% if with_many -%}
                .WithMany(b => b.{{with_many}})
                {%- else -%}
                .WithMany()
                {%- endif %}
                .HasForeignKey(p => p.{{has_foreign_id}})
                .OnDelete(DeleteBehavior.{{delete_type}});