builder.Entity<{{entity_name}}>()
                .HasOne(p => p.{{has_one}})
                {% if with_many -%}
                .WithMany(b => b.{{with_many}})
                {%- else -%}
                .WithMany()
                {%- endif %}
                .HasForeignKey(p => p.{{has_one}}Id)
                .OnDelete(DeleteBehavior.Cascade);